# =========================
# Node / Angular Frontend
# =========================
node_modules/
dist/
build/
.angular/
.env

# =========================
# Python / Django Backend
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.env
*.pot
*.mo
staticfiles/

# =========================
# ML / Data
# =========================
ml/models/
ml/data/processed/
ml/data/raw/
ml/notebooks/*.ipynb_checkpoints
*.pkl
*.npy
*.joblib

# =========================
# General / OS
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
